/JPTVR18Lesson1/nbproject/private/
/JPTVR18Lesson3/nbproject/private/
/JPTVR18Lesson3/dist/
/JPTVR18Lesson3/build/
/JavaControl1/nbproject/private/
/JavaControl1/build/
/JavaControl1/dist/
/JPTVR18Library/nbproject/private/
/JPTVR18Library/build/
/JPTVR18Library/dist/
/JPTVR18School/nbproject/private/
/JPTVR18Library/META-INF
/JPTVR18Shop/nbproject/private/
/JPTVR18Shop/dist/
/JPTVR18Shop/build/
/JPTVR18WebLibrary/nbproject/private/
/JPTVR18WebPathManager/nbproject/private/
/JPTVR18WebPathManager/build/
/JPTVR18WebPathManager/dist/
/JKTVR19Perevertish/nbproject/private/
/JKTVR19Perevertish/build/
/JPTVR18GameShop/nbproject/private/
/JPTVR18GameShop/build/
/JPTVR18GamesShop/nbproject/private/
/JPTVR18GamesShop/build/
/JPTVR18GamesShop/dist/
/Task1/nbproject/private/
/JPTVR19Task1/nbproject/private/
/JPTVR19Task1/build/
/JPTVR19StartDev2/nbproject/private/
/JPTVR19StartDev1/nbproject/private/
/JPTVR19StartDev1/build/
/HouseHoldGoods_Russovits/nbproject/private/